@model BashModels.Models.Post

@{
    ViewBag.Title = "IdIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IdIndex</h2>
@Html.DisplayForModel()

   @*@Html.Partial("~/Views/Comment/Index.cshtml", Model)
   @Html.Partial("~/Views/Comment/Add.cshtml")*@


